{% extends 'base.html' %}
{% load crispy_forms_tags %} {% block content %}
<h1>Login</h1>
<form method="post">
  {% csrf_token %}{{form|crispy}}
  <p >Forgot password? <a href="{% url 'password_reset' %}">Reset</a>.</p>
  <p>Don't have an account? Create one <a href="{% url 'register' %}">here</a>!</p>
  <!-- <br>
  <hr/> -->
  <!-- <p><strong>-- OR --</strong></p>
  <a href="{% url 'social:begin' 'linkedin' %}">Login with linkedin</a> <br/>

  <button type="submit" class="btn btn-success">Login</button>
</form> -->
{% endblock content %} 